<div class="search-container">
  <h1>Buscar Videos por Etiqueta</h1>
  <input type="text" [(ngModel)]="searchText">
  <button (click)="searchVideos()">Buscar</button>
</div>

<div id="searchResults">
  <div *ngFor="let video of videos" class="video">
    <img class="thumbnail" [src]="video.miniaturaUrl" alt="Miniatura">
    <div class="video-info">
      <div class="etiquetas-container">
        <span *ngFor="let etiqueta of video.etiquetas" class="etiqueta">{{etiqueta}}</span>
      </div>
      <a class="video-link" [href]="video.videoUrl" target="_blank">Ver Video</a>
    </div>
  </div>
</div>
