#searchResults {
  display: flex;
  flex-direction: column;
}

.search-container {
<<<<<<< HEAD
  margin-bottom: 50px;
=======
  margin-bottom: 50px; /* Ajusta esto según la cantidad de espacio que desees */
>>>>>>> 738dc525b4422a4ae17924e3caf4214a81ddbbba
}

h1 {
  color: #d0d7e8;
  font-size: xx-large;
  font-family: monospace;
}

.video {
  display: flex;
  align-items: start;
  margin-bottom: 20px;
}

.thumbnail {
  width: 150px;
  height: auto;
  margin-right: 20px;
}

.video-info {
  display: flex;
  flex-direction: column;
}

.etiquetas-container {
  display: flex; 
  flex-wrap: wrap; 
  gap: 5px; 
}

.etiqueta {
  background-color: #6fcbd9;
  padding: 5px;
  border-radius: 5px;
}

.video-link {
  color: rgb(183, 183, 211);
  text-decoration: none;
<<<<<<< HEAD
  margin-top: 10px;
=======
  margin-top: 10px; /* Espacio entre etiquetas y enlace */
>>>>>>> 738dc525b4422a4ae17924e3caf4214a81ddbbba
}
